HOMEPAGE_VAR_KOMODO_APIKEY={{ komodo_api_key }}
HOMEPAGE_VAR_KOMODO_SECRET={{ komodo_api_secret }}
HOMEPAGE_VAR_ADGUARD_USERNAME={{ adguard_username }}
HOMEPAGE_VAR_ADGUARD_PASSWORD={{ adguard_password }}
HOMEPAGE_VAR_PROWLARR_APIKEY={{ prowlarr_api_key }}
HOMEPAGE_VAR_HA_TOKEN={{ home_assistant_token }}
HOMEPAGE_VAR_MEALIE_URL={{ mealie_url | default('') }}
HOMEPAGE_VAR_MEALIE_API_KEY={{ mealie_api_key | default('') }}
