HOMEPAGE_VAR_ADGUARD_USERNAME={{ adguard_username | default('') }}
HOMEPAGE_VAR_ADGUARD_PASSWORD={{ adguard_password | default('') }}

HOMEPAGE_VAR_BESZEL_USER={{ beszel_username | default('') | trim }}
HOMEPAGE_VAR_BESZEL_PASSWORD={{ beszel_password | default('') | trim }}
HOMEPAGE_VAR_BESZEL_KIF_SYSTEM_ID={{ beszel_kif_system_id | default('') | trim }}
HOMEPAGE_VAR_BESZEL_ZAPP_SYSTEM_ID={{ beszel_zapp_system_id | default('') | trim }}

HOMEPAGE_VAR_HA_TOKEN={{ home_assistant_token | default('') | trim }}

HOMEPAGE_VAR_HEADSCALE_KEY={{ headscale_api_key | default('') | trim }}
HOMEPAGE_VAR_HEADSCALE_URL={{ headscale_server_url | default('') | trim }}
HOMEPAGE_VAR_HEADSCALE_KIF_NODE_ID={{ headscale_kif_node_id | default('') | trim }}
HOMEPAGE_VAR_HEADSCALE_ZAPP_NODE_ID={{ headscale_zapp_node_id | default('') | trim }}

HOMEPAGE_VAR_KOMODO_APIKEY={{ komodo_api_key | default('') | trim }}
HOMEPAGE_VAR_KOMODO_SECRET={{ komodo_api_secret | default('') | trim }}

HOMEPAGE_VAR_PROWLARR_APIKEY={{ prowlarr_api_key | default('') | trim }}

{% include 'common/acme_cert.env.j2' %}
