persistence true
persistence_location /mosquitto/data/
log_dest stdout

listener 1883
allow_anonymous false
password_file /mosquitto/config/mosquitto.passwd

listener 1884 127.0.0.1
allow_anonymous true
