[client]
remote_addr = "{{ rathole_server_addr }}"
default_token = "{{ rathole_server_token }}"

[client.services.aiostreams]
local_addr = "aiostreams:3000" # Bypass Caddy; Traefik handles TLS on Zapp
