[client]
remote_addr = "{{ rathole_server_addr }}"
default_token = "{{ rathole_server_token }}"
 
{% for name, config in rathole_services.items() %}
[client.services.{{ name }}]
local_addr = "{{ name }}:{{ config.local_port }}"
{% endfor %}
