PROWLARR_API_KEY={{ prowlarr_api_key }}
BASE_URL={{ stremio_aiostreams_base_url }}
SECRET_KEY={{ stremio_aiostreams_secret_key }}
ADDON_PASSWORD={{ stremio_aiostreams_addon_password }}
AIOSTREAMS_AUTH={{ stremio_aiostreams_user }}:{{ stremio_aiostreams_password }}
AIOSTREAMS_AUTH_ADMINS={{ stremio_aiostreams_user }}
TMDB_KEY={{ tmdb_key }}
MDBLIST_KEY={{ mdb_list_key }}
COMET_DB_PASSWORD={{ stremio_comet_db_password }}
DMM_DB_PASSWORD={{ stremio_dmm_db_password }}
